<header class="header-cessda">
			<div class="primary-header">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="email">
								<a href="mailto:cessda@cessda.eu"><i class="fafa-envelope"></i> cessda@cessda.eu</a>
							</div>
						</div>
						<div class="col-md-4 social text-center">
							<ul>
								<li><a href="https://www.facebook.com/Cessda-463858013634628/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/CESSDA_Data/" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/company/9392869" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/cessda_data/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
								<li><a href="https://plus.google.com/112779581489694492154" target="_blank" rel="noopener noreferrer"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="col-md-4 text-center log-in">
							<div class="login">
								<a href="#"><i class="fafa-user"></i>LOGIN/REGISTER</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="common-header header-bg">
				<div class="container">
					<div class="row header-content">
						<div class="col-md-4">
							<div class="logo">
								<a href="#">
									<img src="../img/logo/cessda_logo_dc.png" alt="logo">
								</a>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<h2>Consortium of European Social Science Data Archives</h2>
						</div>
						<div class="col-md-4 text-right search"><a href="#"><i class="fafa-search"></i></a></div>
					</div>
				</div>
			</div>
			<div class="search-content">
				<div class="container clearfix">
					<div class="search-form">
						<form> 
						    <input type="search" id="mySearch" name="q">
						    <button>Search</button>
						</form>
					</div>
				</div>
				<ul>
					<li>
						<a href="#" class="menu-btn-search toggle-btn-search"><span class="fafa-times"></span></a>
					</li>
				</ul>
			</div>
			<div class="menu-bg">
				<div class="container">
					<div class="row">
						<div class="main-menu">
							<nav>
								<ul>
									<li><a style="color:#85C4EC; padding-top: 5px;" href="#"><i class="fafa-home"></i></a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">TRUSTED TOOLS & SERVICES</a></li>
									<li><a href="#">training</a></li>
									<li><a href="#">framework</a></li>
									<li><a href="#">Mission & vision</a></li>
									<li><a href="#">Membership</a></li>
								</ul>
							</nav>
							<a href="#" class="menu-btn toggle-btn"><span class="fafa-bars"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="side-menubar color-2">
				<nav>
					<ul>
						<li><a href="#"><i class="fafa-home"></i></a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">TRUSTED TOOLS & SERVICES</a></li>
						<li><a href="#">training</a></li>
						<li><a href="#">framework</a></li>
						<li><a href="#">Mission & vision</a></li>
						<li><a href="#">Membership</a></li>
					</ul>
				</nav>
				<a href="#" class="menu-btn toggle-btn"><span class="fafa-times"></span></a>
			</div>	
		</header>
<div class="top_links">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-xs-12 col-xs-12 text-left links">
                        
                        <ul>
                            <li class="toptitle"><a href="/">Consortium of European Social Science Data Archives</a></li>
                            
                        </ul>
                    
                    </div>
                    
                    <div class="col-sm-3 text-right social hidden-xs">
                        
                        <ul>
                            <li><a href="https://www.facebook.com/Cessda-463858013634628/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/CESSDA_Data/" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/company/9392869" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/cessda_data/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://plus.google.com/112779581489694492154" target="_blank" rel="noopener noreferrer"><i class="fa fa-google-plus"></i></a></li>
                            
							
                        </ul>
                    
                    </div>
                </div>
            </div>
        </div>