<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div Style="float:right;">

<ul class="pagination">
  <li><a location="firstpage">❮</a></li>	
  <li><a location="prevpage">Prev</a></li>
  <li><a location="status"></a></li>
  <li><a location="nextpage">Next</a></li>
  <li><a location="lastpage">❯</a></li>
  <li></li>
  <li location="pagesize"></li>
</ul>



</div>