<section id="titleArea">
	<div class="container">

		<h2>Copyright and Licensing Guide</h2>

	</div>
</section>
<section id="introArea">
	<div class="container">
<p>Before uploading the resource to the CESSDA Knowledge Platform, consider the following aspects:</p>
<ul>
<li>Is the resource protected by copyright?</li>
<li>If so, are you the rightsholder or do you have all rightsholders permission to upload the resource to the Knowledge Platform?</li>
<li>Are you willing to make the resource available under an open license such as CC-BY?</li>
</ul>

<p>
    This document will help you to answer these questions. If you need and further support or guidance, <a href="mailto:training@cessda.eu">get in touch with us</a>.
</p>

<h3>What is copyright?</h3>
<p>
    The works collected in and distributed through the CESSDA Knowledge Platform are protected by copyright. The intent of copyright is to protect rightsholders from others producing unauthorized copies of their work, distributing copies of the work, or producing derivative works from the original. Thus, copyright protection means that the rightsholders can determine exclusively if and how a work can be used by others. Often, the creator or creators of a work is/are also the rightsholders. Mind however, that this may not always be the case - for example when a work is created as part of an employment (“works made for hire”). In this case the employer may own the copyright.
<br>
        Copyright is a so-called territorial right. This means that the laws of the jurisdiction apply where a work is used (rather than where it was originally created).
</p>

<h3>How does copyright affect uploading works to this platform?</h3>
<p>
    Firstly, to upload works to the CESSDA Knowledge Platform the submitting person or organisation (“depositor”) either has to be the rightsholder of the work or has to have permission of the rightsholder(s) to submit the work to the CESSDA Knowledge Platform for dissemination, ideally in written form.
<br>
    So before uploading please make sure that you are the owner of the copyright to the work or have permission of the rightsholder(s) - e.g. your employer, co-creators, or third parties whose works were included in the work to be uploaded, such as any illustrations not created by yourself.
<br>
    Secondly, as a depositor you will be asked to select a license for the work. This license determines and explains the conditions under which the work can be used by others (see below).
</p>

<h3>What does this mean for users?</h3>
<p>
    When downloading and using the works disseminated via the CESSDA Knowledge Platform, users are bound by copyright and/or the licenses under which the rightsholder(s) made the works available for re-use. This includes, but is not limited to, the necessity to give proper attribution to the rightsholder(s) when citing, re-using, or - where permitted - creating derivatives of the work accessed through the platform.

</p>

<h3>Licenses</h3>

<p>
    A license states the conditions under which a work protected by copyright can be accessed and used. This might include conditions that are less restrictive than what copyright would permit. For example, a license might grant users the right to distribute the work to others without contacting the rightsholder(s) and asking for permission first as would be required by copyright regulations.
<br>
    Licenses do not have to be standardised: they may consist of a sentence or a paragraph of freely written text detailing how a work can be used. However, standardised public licenses such as Creative Commons or GNU General Public License exist. Among their advantages is that they ensure legal certainty and are widely recognised.
<br>
    The CESSDA Knowledge Platform would like to encourage depositors to assign a license placing as few restrictions on use of a work as possible. This can help us to reduce existing barriers to sharing information and building knowledge. For this purpose, we offer the easy assignment of Creative Commons licenses during the upload process. However, depositors are free to assign any other license, either by providing a link to a license text or by copying the text directly into the platform.

</p>

<h3>Links</h3>
<p>
Creative Commons Licensing Types: <a href="https://creativecommons.org/share-your-work/licensing-types-examples/" target="_blank" rel="noopener noreferrer">https://creativecommons.org/share-your-work/licensing-types-examples/</a></p>
<p>
License Selector by Institute of Formal and Applied Linguistics (ÚFAL), Faculty of Mathematics and Physics, Charles University in Prague <a href="https://ufal.github.io/public-license-selector/" traget="_blank">https://ufal.github.io/public-license-selector/</a> (Note: the tool focuses on software and data but can also be used for other works)
</p>
		</div>
</section>
