<section id="titleArea">
	<div class="container">
		<h2>CESSDA Knowledge Platform</h2>						
	</div>
</section>
<section id="introArea">
	<div class="container">
			<p>
                The CESSDA Knowledge Platform is a central point of access for the body of knowledge created by CESSDA
                organisations, as well as for other resources relevant to the work of social science data archives. The
                Knowledge Platform serves the systematic collection, registration, description of, and long-term access
                to these resources. Thereby it aims to foster knowledge exchange and skills transfer in the European
                Social Science Data Archiving landscape. The CESSDA Knowledge Platform was developed as part of the
                EU-funded <a href="https://www.cessdasaw.eu/" rel="noopener noreferrer" target="_blank">CESSDA SaW</a>
                project.
            </p>
			
			<h3>Scope</h3>
			<p>	
                The Knowledge Platform collects digital resources created in the context of CESSDA, including: presentations and posters, policy documents and guidelines, scholarly publications, reports and project deliverables on all topics relevant to preserving and disseminating social science research data. The CESSDA Knowledge Platform will also record and publish metadata about resources relevant to the work of social science data archives that are available elsewhere online or in print. For more information on the scope of the collection, please consult our <a href="#!Policy">Collection and Operation Policy</a>. 
			</p>	
			<p>
                To upload resources to the Knowledge Platform, please register <a href="#!Registration">here</a> with an e-mail address associated with a CESSDA organisation. <a href="#!Search">Searching and downloading resources is possible without registration.</a>
			</p>
			<p>	
                If you have any questions about the CESSDA Knowledge Platform, please e-mail us at <a href="mailto:training@cessda.eu">training@cessda.eu</a>. 
			</p>	
			
			
			
		</div>
</section>
