<section id="titleArea">
	<div class="container">
		
		<h2>Collection and Operation Policy</h2>		
		
	</div>
</section>
<section id="introArea">
	<div class="container">
		
            <h3>1. Introduction</h3>
            <p>
               The CESSDA Knowledge Platform is a central point of access for the body of knowledge created by CESSDA Service Providers as well as for other resources relevant to the work of social science data archives. This policy is intended to serve as a guide to the development, management and care of the collection to achieve the overall mission of the Knowledge Platform. It defines mission, scope, selection criteria and stakeholders’ roles. 
                
            </p>

            <h3>2. Mission</h3>
            <p>
            Over the years, CESSDA partners have created a significant body of knowledge on a broad range of topics. The Knowledge Platform serves the systematic collection, registration, description of, and long-term access to different resources produced by CESSDA organisations or for CESSDA organisations. Thereby it aims to foster knowledge exchange and skills transfer in the European Social Science Data Archiving landscape. To this end, resources should be freely accessible to everyone with as little restrictions from copyright or other mechanisms of control as possible.    
                
            </p>


            <h3>3. Scope</h3>

            <p>
                The Knowledge Platform aims to become a collection of resources in a defined field of knowledge. As far as is reasonably possible, it strives to be an exhaustive collection of digital resources as well as an extensive collection of records about relevant resources published elsewhere.
            </p>
            <p>
             The Knowledge Platform collects digital resources created in the context of CESSDA, but also publishes metadata records about resources relevant to the work of social science data archives that are available elsewhere online or in print.   
            
            </p>

            <h3>3.1 Topics</h3>
            
            <p>
            The Knowledge Platform collects resources describing or covering different areas of work in social science data service, such as
            </p>

            <ul>
                <li>Data Access, Dissemination, and Open Data</li>
                <li>Archiving (Curation and Preservation)</li>
                <li>Metadata and Standards</li>
                <li>Research Data Management</li>
                <li>Pre-ingest, Data Acquisition</li>
                <li>Data Processing and Documentation</li>
                <li>Ingest</li>
                <li>Training</li>
                <li>Management of Data Archives</li>
                <li>Data Protection and Ethics</li>
                <li>Persistent Identifiers</li>
                <li>Information Technology (IT)</li>
                <li>Strategy and Policy.</li>
                
            </ul>
            
            <h3>3.2 Resource types</h3>
            <p>
                The Knowledge Platform collects (information on) all types of resources, including but not limited to
            </p>
            
            <ul>
                <li>Guidelines or manuals,</li>
                <li>Webinars or E-tutorials,</li>
                <li>Software tools,</li>
                <li>Policy or advocacy documents,</li>
                <li>Presentations and posters,</li>
                <li>Reports and project deliverables,</li>
                <li>Scholarly publications (e.g. articles, collections, monographs)</li>
                <li>Blog posts.</li>
            </ul>
            
            <p>
               The Knowledge Platform mostly keeps a current focus, but will also seek to ingest resources retrospectively. This includes documentation of past CESSDA Expert Seminars and other CESSDA events or projects such as CESSDA PPP. 
            </p>
            
            <p>
                The Knowledge Platform acquires resources in the national languages of the CESSDA partners, however, a minimum of metadata should be provided in English for all resources included in the collection.
            </p>
            
            <h3>4. Responsibility</h3>
            
            <p>
                The Knowledge Platform takes responsibility for the long-term access to the resources in the collection. It will undertake measures to ensure that the bitstream of the resources is preserved. For unique, persistent identification digital resources published in the Knowledge Platform will receive a Digital Object Identifier (DOI), registered through da|ra - Registration agency for social and economic data.
            </p>
            
            <h3>5. Selection criteria</h3>
            
            <ol>
                <li>Scope: Resources should fall into to the scope as defined in this document.</li>
                <li>Content: Resources should be relevant to other CESSDA organisations, it should bring new (added) value. Duplication of documents with the same or very similar content should be avoided, exceptions: resource is offered in a different language.</li>
                <li>Language: Resources can be in any language used by CESSDA organisations, but a minimum of descriptive metadata should be provided in English.</li>
                <li>Copyright: Resources should preferably use an open licence (e.g. Creative Commons; see Licensing and Copyright Guide).</li>
                <li>Duplication: If a resource has been already published elsewhere and received a Persistent Identifier, the Knowledge Platform collects and publishes only the metadata and does not register a DOI.</li>
            </ol>
            
            <p>
             Selection criteria are to be used by depositors and curators, who review and publish resources.   
            </p>
            
            <h3>6. Stakeholders</h3>
            
            <p>
                The Knowledge Platform distinguishes several groups of stakeholders directly interacting with the platform:
            </p>
            
            <ul>
                <li>Users: search for and download content from the platform.</li>
                <li>Depositors: registered users who submit resources to the platform.</li>
                <li>Curators (CESSDA staff): review submitted resources, edit metadata, and accept resources for inclusion in the Knowledge Platform.</li>
                <li>Administrators (CESSDA staff): responsible for user management and managing technical aspects of the platform and content organisation.</li>
                
            </ul>
            
            <h3>6.1 Users</h3>
            
            <p>
              The platform and the resources indexed and offered for download in it are free and open to use by everyone in accordance with the licensing conditions given for a resource. Knowledge Platform resources used in (research) publications must be cited accurately and in sufficient detail.
  
            </p>
            <p>
                In particular, the collection is built and resources offered as a service for users belonging to the following groups:
            </p>
            
            <ul>
                <li>Staff of organisations associated with CESSDA ERIC, especially those involved in the provision of data services, including CESSDA Observers and aspiring Members</li>
                <li>Staff of (social science) data archives</li>
                <li>Educators and researchers in the social sciences</li>
                <li>Academic support staff (administration, library staff, etc.)</li>
                <li>Policy makers on national and European level.</li>
                
            </ul>

            <p>The Knowledge Platform distinguishes Anonymous and Registered Users.</p>
            
            <h3>6.2 Depositors</h3>
            
            <p>
                Depositors submit resources (digital documents or metadata records) to the platform. They come from CESSDA Main Office, CESSDA Service Providers (SP), and CESSDA Observers or aspiring Service Providers. It is their responsibility to
            </p>
            
            <ul>
                <li>check if the resource to be submitted fits the platform’s scope and selection criteria (see 3. Scope, 5. Selection Criteria);</li>
                <li>ensure that they have all necessary rights to upload digital files associated with a resource (see Licensing and Copyright Guide);</li>
                <li>provide metadata and description in English, even if the resources is in a language other than English.</li>
                
            </ul>
            
            <p>
              To support the deposit process, it is recommended that CESSDA SPs assign a person as liaison responsible for depositing resources to the Knowledge Platform.  
            </p>
            
            <h3>6.3 Curators</h3>
            
            <p>
                Curators are responsible for reviewing submitted resources, checking and editing metadata, and accepting or rejecting resources for publication in the Knowledge Platform. They come from CESSDA Main Office and CESSDA Service Providers.
            </p>
            
            <p>
                Curators follow the selection criteria to reduce personal bias in their selection decisions and to ensure continuity and consistency in selection and review.

            </p>
            
            <p>
                Curators are selected by CESSDA Main Office / Director / General Assembly for the mandate of two years. They can be re-elected.
            </p>
            
            <p>
                The number of curators and their mandate is determined by CESSDA Main Office.

            </p>
            
            <h3>6.4 Administrators</h3>
            
            <p>
             Administrators are responsible for user management and for managing technical aspects of the platform and content organisation. It is their task to grant certain rights based on the role an individual performs for the platform (e.g. the right to upload resources for the role of “depositor”). They create the structure for the organisation of content by creating so-called collections into which resources can be included. They are responsible for registering DOIs and actually publishing resources after they were reviewed by a curator.
   
            </p>
            <p>
                Administrators are appointed by CESSDA Main Office.
            </p>
            
            <h3>6.5 Knowledge Platform Editorial Committee</h3>
            
            <p>
                The role of the Editorial Committee is to vouchsafe the long-term development and management of the platform, and act as an instance of quality assurance. It consists of Knowledge Platform administrators, curators, and liaisons.
            </p>
            <p>
                If no other agreements are made, members of the Editorial committee are appointed for a period of 2 years.

            </p>
            
            <h3>7. DOI registration</h3>
            
            <p>
                CESSDA ERIC is registered as a Publication Agent with da|ra, the registration agency for social science and economic data. DOIs registered by CESSDA ERIC are structured in the following manner: 
            </p>
            <ul>
                <li>Prefix: 10.18448</li>
                <li>Suffix: The suffix consists of a number identifying the archive which created the resource followed by a random four digit number.</li>
                
            </ul>
            
            <p>
                The archives are coded as follows:
            </p>
            
            <table width="100%">
                <tr>
                    <td>Organisation name</td>
                    <td>DOI</td>
                </tr>
                
                <tr>
                    <td>More than one CESSDA organisation (member or partner)</td>
                    <td>10.18448/16.xxxx</td>
                </tr>
                <tr>
                    <td>CESSDA - Consortium of European Social Science Data Archives</td>
                    <td>10.18448/16.xxxx</td>
                </tr>
                <tr>
                    <td>Other organisation</td>
                    <td>10.18448/17.xxxx</td>
                </tr>
                <tr>
                    <td>ADP - Slovenian Social Science Data Archives</td>
                    <td>10.18448/1.xxxx</td>
                </tr>
                <tr>
                    <td>AuSSDA - The Austrian Social Science Data Archive</td>
                    <td>10.18448/2.xxxx</td>
                </tr>
                <tr>
                    <td>CSDA - Czech Social Science Data Archive</td>
                    <td>10.18448/3.xxxx</td>
                </tr>
                <tr>
                    <td>DANS - Data Archiving and Networked Services</td>
                    <td>10.18448/4.xxxx</td>
                </tr>
                <tr>
                    <td>DDA - Danish Data Archive</td>
                    <td>10.18448/5.xxxx</td>
                </tr>
                <tr>
                    <td>ESTA - Estonian Social Science Data Archive</td>
                    <td>10.18448/6.xxxx</td>
                </tr>
                <tr>
                    <td>FORS - Swiss Centre of Expertise in the Social Sciences</td>
                    <td>10.18448/7.xxxx</td>
                </tr>
                <tr>
                    <td>FSD - Finnish Social Science Data Archive</td>
                    <td>10.18448/8.xxxx</td>
                </tr>
                <tr>
                    <td>GESIS - Leibniz Institute for the Social Sciences</td>
                    <td>10.18448/9.xxxx</td>
                </tr>
                <tr>
                    <td>ISSDA - Irish Social Science Data Archive</td>
                    <td>10.18448/10.xxxx</td>
                </tr>
                <tr>
                    <td>LiDA - Lithuanian Data Archive for Humanities and Social Sciences</td>
                    <td>10.18448/11.xxxx</td>
                </tr>
                <tr>
                    <td>LISER - Luxembourg Institute of Socio-Economic Research</td>
                    <td>10.18448/12.xxxx</td>
                </tr>
                <tr>
                    <td>NSD - Norwegian Centre for Research Data</td>
                    <td>10.18448/13.xxxx</td>
                </tr>
                <tr>
                    <td>PROGEDO Research Infrastructure (France)</td>
                    <td>10.18448/14.xxxx</td>
                </tr>
                <tr>
                    <td>RODA - Romanian Social Data Archive</td>
                    <td>10.18448/15.xxxx</td>
                </tr>
                <tr>
                    <td>SASD - Slovak Archive of Social Data</td>
                    <td>10.18448/18.xxxx</td>
                </tr>
                <tr>
                    <td>SND - Swedish National Data Service</td>
                    <td>10.18448/19.xxxx</td>
                </tr>
                <tr>
                    <td>So.Da.Net - Greek research infrastructure for the social sciences</td>
                    <td>10.18448/20.xxxx</td>
                </tr>
                <tr>
                    <td>SOHDA - Belgian Social Sciences and Humanities Data Archive</td>
                    <td>10.18448/21.xxxx</td>
                </tr>
                <tr>
                    <td>TÁRKI - The Tárki Data Archive (Hungary)</td>
                    <td>10.18448/22.xxxx</td>
                </tr>
                <tr>
                    <td>UK Data Service</td>
                    <td>10.18448/23.xxxx</td>
                </tr>
                <tr>
                    <td>UniData - Bicocca Data Archive (Italy)</td>
                    <td>10.18448/24.xxxx</td>
                </tr>
            </table>
            
            <h3>8. Revision of the document/policy</h3>
            <p>
               The policy is to be reviewed and updated according to the development and needs. It was last revised on September 13, 2017.
            </p>
            
	
		</div>
</section>
